<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Property Ladder Limited</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="assets/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
                <img class="img-responsive" src="assets/logos/propertyladder.jpg" width="130" height="84" alt="">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#buyers">Buyers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#investors">Investors</a>
                    </li>
                    <li>
                        <a class="portfolio-link" href="#signUp" data-toggle="modal">Sign Up</a>
                    </li>
                    <li>
                        <a class="portfolio-link" href="#logIn" data-toggle="modal">Log In</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="header-back">
                    <div class="intro-lead-in">Invest in Central London Property</div>
                    <div class="intro-heading">Property Investment Made Simple</div>
                    <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">Simplifying property investments.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/london.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Who We Are</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">For London buyers, we understand the frustrations of trying to own property in today’s market. It’s out of reach for many of us. That’s why we’ve started this company. 
                                    <br /><br />
                                    We are a team of hard working professionals who were tired of being priced out of the market, tired of traditional bank mortgages and tired of bidding against cash buyers. We wanted to set up a new innovative product that will allow buyers to co-purchase their property with a pool of investors and to start owning a slice of the pie.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/apartment_block.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Our Mission:</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We wanted to help make property investments simpler for everyone. Owning an entire property is often impossible for many of us. But with our innovative product*, you can own a proportion of a number of properties across different parts of London and diversify your portfolio. With our innovative platform, investors can also access potential capital gains and income whilst being able to buy and sell their stake.
                                    <br /><br />
                                    Everyone has an opportunity to get on the ladder, whether you’re a first time home buyer or an investor.
                                    <br /><br />
                                    Join our list of buyers and investors today!
                                    <br /><br />
                                    *We are currently in the process of seeking authorisation from The FCA.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Buyers -->
    <section id="buyers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Buyers</h2>
                    <h3 class="section-subheading text-muted">A new way to invest in Prime London Property.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Growth</h4>
                    <p class="text-muted">Grow your assets by investing in prime central London residential property.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Income</h4>
                    <p class="text-muted">Receive monthly income from monthly rental payments.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tint fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Liquidity</h4>
                    <p class="text-muted">Invest in an illiquid asset class, through a liquid format. Trade your investment on our platform at any time.</p>
                </div>
            </div>
            <hr class="intense">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <h2>Want to live in and buy your own home?</h2>
                    <ul class="tick-list">
                        <li>Get on the property ladder, faster</li>
                        <li>Incremental increase in home ownership</li>
                        <li>No interest rate risk</li>
                        <li>Buy where you want!</li>
                        <li>Actually live in your house</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-lg-offset-1 col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/e-atzHcoyRI"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Investors -->
    <section id="investors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Investors</h2>
                    <h3 class="section-subheading text-muted">Take your first step on the property ladder.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ownership</h4>
                    <p class="text-muted">Get on the property ladder.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mortgage-free</h4>
                    <p class="text-muted">No need to be in debt or restricted by banks.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Growth</h4>
                    <p class="text-muted">Grow your assets by investing in prime central London residential property.</p>
                </div>
            </div>
            <hr class="intense">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <h2>Want to invest in properties?</h2>
                    <ul class="tick-list">
                        <li>Help potential first home buyers get on the ladder</li>
                        <li>Capital growth</li>
                        <li>Earn rental income</li>
                        <li>Invest in a property of your choice</li>
                        <li>Tradable platform to buy and exit<a href="#footer-risk-warning-text" class="no-underline">**</a></li>
                        <li>London centric - defensive</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-pull-6  col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1BaLXwmvxSU"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Team Section -->
    <!-- 
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="assets/team/felix.jpg" class="img-responsive img-circle" alt="" width="225" height="225" >
                        <h4>Felix Chung</h4>
                        <p class="text-muted">Founder and CEO</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.linkedin.com/in/felix-chung-cfa-6158412b/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">We'd love to hear from you!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="col-lg-12">
                Please Note:
                <br /><br />
                **Capital at risk. The value of your investment can go down as well as up. Forecasts are not a reliable indicator of future performance.
                <br /><br />
                Gross rent and dividends may be lower than estimated. Trading on platform subject to price and demand.
                <br /><br /><br /><br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; Property Ladder Investments Limited (2017)</span>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <ul class="list-inline quicklinks">
                        <li><a href="#privacyPolicy" data-toggle="modal">Privacy Policy</a>
                        </li>
                        <li><a href="#termsOfUse" data-toggle="modal">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Sign Up -->
    <div class="portfolio-modal modal fade" id="signUp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Sign up page details -->
                                <h2>Sign up here</h2>
                                <p class="item-intro text-muted">Enter your details below:</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Password" id="pwd" required data-validation-required-message="Please enter a password.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" id="userType" placeholder="You are a:" required data-validation-required-message="Please select from the list.">
                                                    <option>Select:</option>
                                                    <option>Buyer</option>
                                                    <option>Investor</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="First Name" id="first-name" required data-validation-required-message="Please enter your name.">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Last Name" id="last-name" required data-validation-required-message="Please enter your name.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-12 text-center">
                                            <div id="success"></div>
                                            <button type="submit" class="btn btn-xl">Sign Up Now</button>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#logIn" data-dismiss="modal">Or log in here <i class="fa fa-arrow-right"></i></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Log In -->
    <div class="portfolio-modal modal fade" id="logIn" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Log In page details -->
                                <h2>Log In</h2>
                                <p class="item-intro text-muted">Enter your username and password:</p>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" placeholder="Password" id="pwd" required data-validation-required-message="Please enter a password.">
                                                    <p class="help-block text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-lg-12 text-center">
                                                <div id="success"></div>
                                                <button type="submit" class="btn btn-xl">Log In</button>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#signUp" data-dismiss="modal">Or sign up here <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Provacy Policy -->
    <div class="portfolio-modal modal fade" id="privacyPolicy" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Provacy Policy details -->
                                <h2>Privacy Policy</h2>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="text-left">
                                            Property Ladder Investments Limited (registered company number 10519907) ("<b>we</b>" or "<b>us</b>") is committed to protecting and respecting your privacy.
                                            <br /><br />
                                            This policy (together with any other documents referred to on it) sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us.
                                            <br /><br />
                                            Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. By visiting www.propertyladderinvestments.com ("<b>our site</b>") you are accepting and consenting to the practices described in this policy.
                                            <br /><br />
                                            For the purpose of the Data Protection Act 1998 (the "<b>Act</b>"), we are the data controller.
                                            <br /><br />
                                            Information we may collect from you
                                            <br /><br />
                                            We may collect and process the following data about you:
                                            <br /><br />
                                        </p>
                                        <ul>
                                            <li><p class="text-left"> <b>Information you give us.</b> You may give us information about you by filling in forms on our site or by corresponding with us by phone, e-mail or otherwise. This includes information you provide when you register to use our site, subscribe to our service, post material on our site, carry out transactions or make payments through our site, report problems with our site or carry out any other activities on our siteThe information you give us may include your name, address, e-mail address and phone number, financial and credit card information and other personal information.</p></li>
                                            <li><p class="text-left"><b>Information we collect about you.</b> With regard to each of your visits to our site we may automatically collect the following information:</p></li>
                                            <li style="list-style-type:none">
                                                <ul>
                                                    <li><p class="text-left">technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type and version, time zone setting, browser plug-in types and versions, operating system and platform; and</p></li>
                                                    <li><p class="text-left">information about your visit, including the full Uniform Resource Locators (URL) clickstream to, through and from our site (including date and time); products you viewed or searched for; page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page and any phone number used to call our customer service number.</p></li>
                                                </ul>
                                            </li>
                                            <li><p class="text-left"><b>Information we receive from other sources.</b> We may receive information about you if you use any of the other websites we operate or the other services we provide. We are also working closely with third parties (including, for example, business partners, sub-contractors in technical, payment and delivery services, advertising networks, analytics providers, search information providers, credit reference agencies) and may receive information about you from them.</p></li>
                                        </ul>
                                        <p class="text-left">
                                            Cookies
                                            <br /><br />
                                            Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. By continuing to browse the site, you are agreeing to our use of cookies A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer's hard drive.
                                            <br /><br />
                                            We use the following cookies:
                                        </p>
                                        <ul>
                                            <li><p class="text-left">
                                                <b>Strictly necessary cookies.</b> These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website.
                                            </p></li>
                                            <li><p class="text-left">
                                                <b>Analytical/performance cookies.</b> They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily.
                                            </p></li>
                                            <li><p class="text-left">
                                                <b>Functionality cookies.</b> These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).
                                            </p></li>
                                            <li><p class="text-left">
                                                <b>Targeting cookies.</b> These cookies record your visit to our website, the pages you have visited and the links you have followed. We will use this information to make our website and the advertising displayed on it more relevant to your interests. We may also share this information with third parties for this purpose.
                                            </p></li>
                                        </ul>
                                        <p class="text-left">
                                            <br /><br />
                                            Please note that third parties (including, for example, advertising networks and providers of external services like web traffic analysis services) may also use cookies, over which we have no control. These cookies are likely to be analytical/performance cookies or targeting cookies.
                                            <br /><br />
                                            You block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our site.
                                            <br /><br />
                                            Uses made of the information
                                            <br /><br />
                                            We use information held about you in the following ways:
                                        </p>
                                        <ul>
                                            <li><p class="text-left">
                                                <b>Information you give to us.</b> We will use this information:
                                            </p></li>
                                            <li style="list-style-type:none">
                                                <ul>
                                                    <li><p class="text-left">to carry out our obligations arising from any contracts entered into between you and us and to provide you with the information, products and services that you request from us;</p></li>
                                                    <li><p class="text-left">to provide you with information about other goods and services we offer that are similar to those that you have already purchased or enquired about;</p></li>
                                                    <li><p class="text-left">to provide you, or permit selected third parties to provide you, with information about goods or services we feel may interest you. If you are an existing customer, we will only contact you by electronic means (e-mail or SMS) with information about goods and services similar to those which were the subject of a previous sale or negotiations of a sale to you. If you are a new customer, and where we permit selected third parties to use your data, we (or they) will contact you by electronic means only if you have consented to this. If you do not want us to use your data in this way, or to pass your details on to third parties for marketing purposes, please tick the relevant box situated on the form on which we collect your data;</p></li>
                                                    <li><p class="text-left">to notify you about changes to our service; and</p></li>
                                                    <li><p class="text-left">to ensure that content from our site is presented in the most effective manner for you and for your computer.</p></li>
                                                </ul>
                                            </li>
                                            <li><p class="text-left">
                                                <b>Information we collect about you.</b> We will use this information:
                                            </p></li>
                                            <li style="list-style-type:none">
                                                <ul>
                                                    <li><p class="text-left">to administer our site and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;</p></li>
                                                    <li><p class="text-left">to improve our site to ensure that content is presented in the most effective manner for you and for your computer;</p></li>
                                                    <li><p class="text-left">to allow you to participate in interactive features of our service, when you choose to do so;</p></li>
                                                    <li><p class="text-left">as part of our efforts to keep our site safe and secure;</p></li>
                                                    <li><p class="text-left">to measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you; and</p></li>
                                                    <li><p class="text-left">to make suggestions and recommendations to you and other users of our site about goods or services that may interest you or them.</p></li>
                                                </ul>
                                            </li>
                                            <li><p class="text-left">
                                                <b>Information we receive from other sources.</b> We may combine this information with information you give to us and information we collect about you. We may use this information and the combined information for the purposes set out above (depending on the types of information we receive).
                                            </p></li>
                                            <li><p class="text-left">
                                                <b>Targeting cookies.</b> These cookies record your visit to our website, the pages you have visited and the links you have followed. We will use this information to make our website and the advertising displayed on it more relevant to your interests. We may also share this information with third parties for this purpose.
                                            </p></li>
                                        </ul>
                                        <p class="text-left">
                                            Disclosure of your information
                                            <br /><br />
                                            We may share your personal information with any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries, as defined in section 1159 of the UK Companies Act 2006
                                            <br /><br />
                                            We may share your information with selected third parties including:
                                        </p>
                                        <ul>
                                            <li><p class="text-left">
                                                Business partners, suppliers and sub-contractors for the performance of any contract we enter into with them or you;
                                            </p></li>
                                            <li><p class="text-left">
                                                Advertisers and advertising networks that require the data to select and serve relevant adverts to you and others;
                                            </p></li>
                                            <li><p class="text-left">
                                                Analytics and search engine providers that assist us in the improvement and optimisation of our site; and
                                            </p></li>
                                            <li><p class="text-left">
                                                Credit reference agencies for the purpose of assessing your credit score where this is a condition of us entering into a contract with you.
                                            </p></li>
                                        </ul>
                                        <p class="text-left">
                                            We may disclose your personal information to third parties:
                                        </p>
                                        <ul>
                                            <li><p class="text-left">
                                                In the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets;
                                            </p></li>
                                            <li><p class="text-left">
                                                If we or substantially all of our assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets; and
                                            </p></li>
                                            <li><p class="text-left">
                                                If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply any agreements between you; or to protect the rights, property, or safety of us, our customers, or others. This includes exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction.
                                            </p></li>
                                        </ul>
                                        <p class="text-left"> 
                                            Where we store your personal data
                                            <br /><br />
                                            The data that we collect from you may be transferred to, and stored at, a destination within or outside the European Economic Area ("EEA"). It may also be processed by staff operating within or outside the EEA who work for us or for one of our suppliers. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.
                                            <br /><br />
                                            Where we have given you (or where you have chosen) a password which enables you to access certain parts of our site, you are responsible for keeping this password confidential. We ask you not to share a password with anyone.
                                            <br /><br />
                                            Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.
                                            <br /><br />
                                            Email
                                            <br /><br />
                                            If you no longer wish to receive our emails there is an unsubscribe link located in the footer of all emails that we send.
                                            <br /><br />
                                            Your rights
                                            <br /><br />
                                            You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your data. You can also exercise the right at any time by contacting us at [    ].
                                            <br /><br />
                                            Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.
                                            <br /><br />
                                            Access to information
                                            <br /><br />
                                            The Act gives you the right to access information held about you. Your right of access can be exercised in accordance with the Act. Any access request may be subject to a fee of £10 to meet our costs in providing you with details of the information we hold about you.
                                            <br /><br />
                                            Changes to our privacy policy
                                            <br /><br />
                                            Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail. Please check back frequently to see any updates or changes to our privacy policy.
                                            <br /><br />
                                            Contact
                                            <br /><br />
                                            Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to hello@propertyladderinvestments.com.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Terms of Use -->
    <div class="portfolio-modal modal fade" id="termsOfUse" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Terms of Use details -->
                                <h2>Terms of Use</h2>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="text-left">
                                            These Terms of Service constitute a legal document between you, as the user of www.propertyladderinvestments.com and related and/or ancillary technological platforms including but not limited to mobile sites and apps (the “Website”), and Property Ladder Investments Limited (a private company registered in England and Wales under registration number 10519907), as the owner of the Website. Throughout these Terms of Service references to we/our/us are to Property Ladder Investments and references to you/your are to you as the user of the Website.
                                        </p>
                                        <ol>
                                            <li><p class="text-left">Application<br /><br />
                                                These Terms of Service set out the general terms governing your use of the Website. They apply to you as soon as you first use the Website, and you are deemed to have agreed to be bound by them upon your first use of the Website. If you do not wish to continue to be bound by these Terms of Service then please stop using the Website immediately.
                                            </p></li>
                                            <li><p class="text-left">Intellectual Property<br /><br />
                                                The Website may include at any given time text, graphics, images, logos, icons, sound clips, video clips and data compilations, and together with the Website’s page layout, underlying code and software, are referred to as “Content”.
                                                <br /><br />
                                                All of the Content is the property of Property Ladder Investments, our affiliates or third parties with whom we do business. As such, the Content is protected by the United Kingdom and international intellectual property laws, and other relevant laws.In addition and except as provided by Part 1, Chapter 3 of the UK Copyright, Designs and Patents Act 1998 (which contains what are generally known as the “fair use” provisions for copyright materials), you may not reproduce, copy, distribute, store or in any other fashion re-use material from the Website unless otherwise indicated on the Website or unless given express written permission to do so by Property Ladder Investments.
                                            </p></li>
                                            <li><p class="text-left">Relationship to Other Agreements<br /><br />
                                                In addition to these Terms of Service, our Privacy Policy applies to you and everyone else who uses the Website. Both the Terms of Service and Privacy Policy are together referred to as the “Website Agreements”.<br /><br />
                                                There are a number of other documents that you may choose to be bound by during the course of your use of the Website. For example if you wish to invest in a property on the Website you will need to agree a set of investment documents that include: (i)Investor Terms and Conditions, (ii) Shareholders’ Agreement, (iii) Articles of Association and (iv) Management Agreement. We refer to these documents as the “Investment Agreements”. The Investment Agreements set out the terms that govern your investment in a property on the Website and your relationship with us, and our affiliates, when you invest in a property on our Website. These Terms of Service however govern your technical use of the Website.<br /><br />
                                                The Website Agreements will continue to apply to you even after you have agreed to the Investment Agreements. If there is a conflict between the Investment Agreements that you have agreed to and the Website Agreements, the Investment Agreements will take precedence.
                                            </p></li>
                                            <li><p class="text-left">Disclaimers<br /><br />
                                                Except as explicitly stated in the Investment Agreements, you need to be aware that:
                                                <ul>
                                                    <li><p class="text-left">
                                                        We make no guarantee of any specific results from entering into an investment in a property on the Website including any net income and/or the capital return realised.
                                                    </li>
                                                    <li><p class="text-left">
                                                        The investments on this Website may not be suitable for all investors and if you are in any doubt as to the suitability of the investments, you should seek independent financial advice.
                                                    </li>
                                                    <li><p class="text-left">
                                                        No part of this Website is intended to constitute investment or tax advice, and it is your responsibility to ensure that you have undertaken all the necessary due diligence prior to making an investment.
                                                    </li>
                                                    <li><p class="text-left">
                                                        The Website is provided “as is” and on an “as available” basis, and we give no warranty that it will be free of defects and/or faults.
                                                    </li>
                                                    <li><p class="text-left">
                                                        We make no warranty or representation (express or implied) that the Website will meet your requirements, that it will be of satisfactory quality, that it will be fit for a particular purpose, that it will not infringe the rights of third parties, that it will be compatible with all systems, that it will be secure or that all information provided will be accurate.
                                                    </li>
                                                    <li><p class="text-left">
                                                        We accept no liability for any direct or indirect loss or damage, foreseeable or otherwise, including any indirect, consequential, special or exemplary damages arising from your use of the Website or any information contained in it, to the maximum extent permitted by law.
                                                    </li>
                                                    <li><p class="text-left">
                                                        You use the Website and its Content at your own risk.
                                                    </li>
                                                    <li><p class="text-left">
                                                        We accept no liability for any disruption or non-availability of the Website resulting from external causes including, but not limited to, communications network failure, power failure, host equipment failure, ISP (internet service provider) equipment failure, natural events, acts of war, or legal restrictions and censorship.
                                                    </li>
                                                </ul>
                                            </p></li>
                                            <li><p class="text-left">Revisions<br /><br />
                                                We may update these Terms of Service from time to time to reflect any changes in law or for any other reason. If we do update these Terms of Service, we will upload a new version to the Website and as soon as you use the Website after they have been uploaded, you will be deemed to have agreed to the updated version. You will still be bound by the previous Terms of Service that you have, or deemed to have, agreed to. If there is a conflict between any versions of the Terms of Service to which you have agreed, or deemed to have agreed to, the most recent version shall take precedence unless it is expressly stated otherwise.
                                            </p></li>
                                            <li><p class="text-left">Severability<br /><br />
                                                We have made every effort to ensure that these Terms of Service adhere with the relevant provisions of the UK Unfair Contract Terms Act 1977 and other applicable laws. However, if any of the provisions or clauses are found to be unlawful, invalid or otherwise unenforceable, that provision or clause is deemed to be severed from these Terms of Service and shall not affect the validity and enforceability of the remaining Terms of Service. This clause on “Severability” shall only apply within the jurisdictions where a particular term is illegal.
                                            </p></li>
                                            <li><p class="text-left">No Waiver<br /><br />
                                                In the event that either you or we fail to exercise any right or remedy contained in these Terms of Service, that does not mean that you or we have waived that right or remedy and so shall not be construed as a waiver.
                                            </p></li>
                                            <li><p class="text-left">Communications<br /><br />
                                                If you wish to contact us about these Terms of Service, you may do so by sending us an email to hello@propertyladderinvestments.com.
                                            </p></li>
                                            <li><p class="text-left">Governing Law<br /><br />
                                                These Terms of Service shall be governed by and construed and interpreted in accordance with the laws of England and Wales. In addition you and we hereby submit to the exclusive jurisdiction of the courts of England and Wales.
                                            </p></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="assets/jqBootstrapValidation.js"></script>
    <script src="assets/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="assets/agency.js"></script>

</body>

</html>
